In [1]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import california_housing
import numpy as np

In [2]:
dataset = california_housing.fetch_california_housing()

In [3]:
X = dataset.data
y = dataset.target

In [4]:
X[0,:]

array([   8.3252    ,   41.        ,    6.98412698,    1.02380952,
        322.        ,    2.55555556,   37.88      , -122.23      ])

In [5]:
X.shape

(20640, 8)

In [6]:
from sklearn.metrics import mean_squared_error

In [7]:
regr = DecisionTreeRegressor().fit(X,y)
print(mean_squared_error(regr.predict(X),y))

5.529312015085222e-14

In [12]:
u = regr.tree_.decision_path(X.astype(np.float32))

In [10]:
regr.tree_.threshold

array([ 5.03514957,  3.07429981,  4.31418896, ..., -2.        ,
       -2.        , -2.        ])

In [17]:
(regr.tree_.feature == -2).sum()

19715

In [19]:
u.shape

(20640, 39429)

In [15]:
import pandas as pd

In [21]:
points = pd.read_csv('./data/public.data', sep = ' ', names = list(range(10)))
points.head()

,0,1,2,3,4,5,6,7,8,9
0,8.401877,3.943829,7.830992,7.984400,9.116474,1.975514,3.352228,7.682296,2.777747,5.539700
1,4.773971,6.288709,3.647845,5.134009,9.522297,9.161951,6.357117,7.172969,1.416026,6.069689
2,0.163006,2.428868,1.372316,8.041768,1.566791,4.009444,1.297904,1.088088,9.989245,2.182569
3,5.129324,8.391122,6.126398,2.960316,6.375523,5.242872,4.935830,9.727750,2.925168,7.713577
4,5.267450,7.699138,4.002286,8.915295,2.833147,3.524583,8.077245,9.190265,0.697553,9.493271

In [22]:
points.describe()

,0,1,2,3,4,5,6,7,8,9
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,4.997073,5.001028,5.007320,5.000564,5.002918,4.997860,4.994678,5.000934,4.999732,5.001248
std,2.888044,2.887930,2.885399,2.887179,2.885571,2.887763,2.886692,2.886212,2.884496,2.885806
min,0.000003,0.000007,0.000004,0.000047,0.000000,0.000012,0.000000,0.000010,0.000027,0.000011
25%,2.497114,2.502690,2.508921,2.499394,2.506870,2.496054,2.492990,2.502174,2.504178,2.501694
50%,4.995847,4.999588,5.011560,5.003775,5.002579,4.996064,4.987975,5.006327,4.996866,5.003301
75%,7.499681,7.502305,7.507253,7.504411,7.502104,7.502116,7.496580,7.498779,7.493940,7.497951
max,9.999994,9.999978,9.999990,9.999982,9.999996,9.999989,9.999997,9.999970,9.999990,9.999994